<div id="headerwrap">
    <div class="container">
   
		<div class="row centered">
			<div class="col-lg-12">

				<h1>Coming Soon</h1>

				<h3>If you have any questions, please get in touch over Twitter <a href="https://twitter.com/TeamTradeSafe">@TeamTradeSafe</a></h3>

			</div>
		</div>
	</div>
</div>