<div id="headerwrap">
    <div class="container">
   
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 code-example">

				<div class="inner-code-example">
					<h3>Request all potential targets</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets</code></pre>

					<h3>Request all Politically Exposed Persons</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets/peps</code></pre>

					<h3>Request all individuals on US or UK watchlists</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets/watchlists</code></pre>

					<h3>Request an individual with a specific attribute</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets/ -d last_name=BAHAR </code></pre>

				</div>



			</div>
		</div>
	</div>
</div>
