<div id="headerwrap">
    <div class="container">
   
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 code-example">

				<div class="inner-code-example">
					<h3>Request all potential targets</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets</code></pre>

					<h3>Request all Politically Exposed Persons</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets/peps</code></pre>

					<h3>Request all individuals on US or UK watchlists</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets/watchlists</code></pre>

					<h3>Request an individual with a specific attribute</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl http://api.teamtradesafe.com/v1/targets?last_name=BAHAR </code></pre>

				</div>

				<div>
					<h3>HTTP Response Code Summary</h3>
					<div class="response-codes">
						<table>
	<!-- 						<th>
								<td></td>
								<td></td>
							</th> -->
							<tr class="even_row">
								<td class="response-code-columns">200 - OK</td>
								<td>Everything worked as expected.</td>							
							</tr>
							<tr>
								<td class="response-code-columns">400 - Bad Request</td>
								<td>Typically due to an incorrect parameter.</td>							
							</tr>
							<tr class="even_row">
								<td class="response-code-columns">404 - Not Found</td>
								<td>No matching targets were found.</td>							
							</tr>
							<tr>
								<td class="response-code-columns">500</td>
								<td>Something went wrong on TradeSafe's end.</td>							
							</tr>												
						</table>
					</div>
				</div>



			</div>
		</div>
	</div>
</div>
