<div class="container faq">

	<div class="row">
		<div class="col-lg-12">
			<h1> Understanding KYC</h1>		
		</div>
	</div>	

	<div class="row">
		<div class="col-lg-12">
			<h4 class="faq-subheader">This page explains the meaning of AML and KYC/CDD, and the steps which firms must take to remain compliant with the law, with a focus on the regulation relevant to firms operating in the United Kingdom.</h4>
		</div>
	</div>	

	<div class="row">
		<div class="col-lg-12">
			<h4>Disclaimer: the following should not be considered legal advice, and organisations should always obtain independent legal advice on remaining compliant with their relevant regulation.</h4>
		</div>
	</div>	

	<div class="row">	
	<div class="col-md-10">
	<div class="panel-group" id="accordion">

	    <div class="faq-heading">

	    </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	         <!-- data-toggle="collapse" data-parent="#accordion" href="#collapseOne" -->
	          What is AML?
	      </h4>
	    </div>
	    <div id="collapseOne" > <!-- class="panel-collapse collapse"  -->
	      <div class="panel-body">
			Anti-Money Laundering (AML) refers to those processes which seek to prevent an organisation aiding the process of money laundering. The Law Society of the United Kingdom defines money laundering as the process by which the proceeds of crime, and the true ownership of those proceeds, are changed so that the proceeds appear to come from a legitimate source. AML processes include avoiding dealing with known money launders and high risk individuals, and monitoring business relationships for evidence of suspicious activity. The term money laundering is often conflated with other forms of financial crime, and sometimes used more generally to include misuse of the financial system including terrorism financing, tax evasion and evading international sanctions.
	      </div>
	    </div>
	  </div>
	 
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          What is KYC? (and CDD?)
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
	      	Know Your Customer (KYC) refers to process by which a firm establishes the true identity of its customer, and monitors the activities of that customer on an on going basis. It is often conflated with Customer Due Diligence (CDD). CDD is used more commonly within regulation, but KYC is used more commonly in conversation. Comprehensive KYC/CDD is the cornerstone of a robust AML compliance program.
		 </div>
	    </div>
	  </div>
	  
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          Why is KYC/CDD necessary?
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
	      	Under the Money Laundering Regulations 2007; the Terrorism Act 2000 and Proceeds of Crime Act (2002), companies must take actions to avoid facilitating money laundering and terrorist financing. An important part of this to know the identity of the customer they are dealing with. Failure to do so can result in both civil and criminal charges. But simply identifying a customer’s true identity is insufficient to be compliant with the law. Companies must also verify that these individuals do not present a risk of facilitating money laundering, and monitor their customers regular and ongoing basis.
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          What are the UK’s legal frameworks around KYC/CDD and AML?
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
	      	<ol>
	      		<li><span class="faq-bold">The Money Laundering Regulations 2007</span> (MLR 2007) repeals and replaces the Money Laundering Regulations 2003 and implements the third European Money Laundering directive. MLR 2007 sets administrative requirements for the anti-money laundering regime within the regulated sector and outlines the scope of customer due diligence. MLR 2007 emphasises that CDD should be risk-based, meaning you should apply due diligence in proportion to the risks associated with different clients. 
	      		</li>
	      		<li><span class="faq-bold">Terrorism Act 2000</span> establishes several offences about engaging in or facilitating terrorism, as well as raising or possessing funds for terrorist purposes. It establishes a list of proscribed organisations the Secretary of State believes are involved in terrorism. The TACT and POCA Regulations 2007 entered into force on 26 December 2007 and introduced tipping off offences and defences to the principal terrorist property offences into the Terrorism Act 2000.
	      		</li>
				<li>
				<span class="faq-bold">Proceeds of Crime Act 2002</span> (POCA) establishes a number of money laundering offences including:
				<ul>
					<li>principal money laundering offences.</li>
					<li>offences of failing to report suspected money laundering.</li>
					<li>offences of tipping off about a money laundering disclosure, tipping off about a money laundering investigation and prejudicing money laundering investigations.</li>
				</ul>
				</li>
	      	</ol?>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          Who needs to undertake CDD?
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
			A large number of organisations need to carry out CDD. MLR 2007 stipulates that the following organisations must carry out CDD:

			<ul>
			<li>credit institutions;</li>
			<li>financial institutions;</li>
			<li>auditors, insolvency practitioners, external accountants and tax advisors;</li>
			<li>independent legal professionals;</li>
			<li>trust or company service providers;</li>
			<li>estate agents;</li>
			<li>high value dealers;</li>
			<li>casinos.</li>
			</ul>

			Here, ‘financial institutions’ includes lending firms (consumer, mortgage, factoring); money services businesses; insurance firms; investment firms; portfolio managers; payments processors and others. See Schedule 1 of MLR 2007 for more information. 

			If you are uncertain whether the regulations apply to your work, seek legal advice on the individual circumstances of your practice or simply take the broadest of the possible approaches to compliance with the regulations.

			If you are outside the regulated sector, you should still consider how these systems can assist you to comply with your obligations to report suspicious transactions in accordance with POCA and the Terrorism Act.
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          How do businesses stay compliant?
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
			The specific actions a business will need to take will<i>depend on the nature of their clients and the business they conduct.</i> Steps should be take in a 'risk-based' and proportionate manner. This means that firms should deploy resources to address AML based on the size of the risks it faces. For example, a firm transacting over the internet is likely at a higher risk of facilitating money laundering than one which meets each of its customers face-to-face. The firm transacting over the internet must deploy more resources accordingly, since its associated risks are higher. </br></br>

			MLR 2007 documents several steps that relevant organisations must take if they wish to remain compliant: </br>

			<ul>
			<li>	
			All firms within the regulated sector must have a nominated officer. Your nominated officer should be of sufficient seniority to make decisions on reporting which can impact your firm's business relations with your clients and your exposure to criminal, civil, regulatory and disciplinary sanctions. Firms authorised by the FCA will need to obtain the FCA's approval for the appointment of the nominated officer as this is a controlled function under section 59 of the Financial Services and Markets Act 2000. Your nominated officer is responsible for ensuring that, when appropriate, the information or other matter leading to knowledge or suspicion, or reasonable grounds for knowledge or suspicion of money laundering is properly disclosed to the relevant authority. The decision to report, or not to report, must not be subject to the consent of anyone else.
			</li>
			<li>
			Firms who do not provide services within the regulated sector should consider appointing a nominated officer, even though it is not required, because POCA and the Terrorism Act still apply. 
			</li>
			<li>			
			If there are reasonable grounds for suspecting that a person is or has engaged in money laundering or terrorist financing, then the nominated officer or other relevant individual must inform the National Crime Agency (NCA) by making a 'Suspicious Activity Report' (SAR). Details on how to do so can be found <a href="http://www.nationalcrimeagency.gov.uk/about-us/what-we-do/specialist-capabilities/ukfiu/how-to-report-sars">here</a>. 
			</li>
			<li>			
			Customer documents must be kept for five years after the business relationship has ended or the occasional transaction is completed.
			</li>
			<li>			
			MLR 2007 requires that your organisation communicate your AML obligations to your staff, and requires that you give staff appropriate training on their legal obligations and information on how to recognise and deal with money laundering 
			</li>
			<ul>
	      </div>
	    </div>
	  </div>

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          What specific actions should I take?
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
	      	<ul>
	      	<li>
			<span class="faq-bold">Identify</span> your customers: MLR 2007 states that CDD means “identifying the customer and verifying the customer’s identity on the basis of documents, data or information obtain from a reliable and independent source”. Firms often choose to identity their customers by requesting scanned copies of their personal documents such as passports and proofs of address, and checking this data against data such as the electoral role. Note: evidence of identity is not required if a one-off transaction involves less than €15,000 or if two or more linked transactions involve less than €15,000 in total. This exception does not apply if there is any suspicion of money laundering or terrorist financing.
			</li> </br>
			<li>			
			<span class="faq-bold">Verify</span> that you can do business with your customers: firms should verify that you are permitted to do business with their customers, by checking their names against known watchlists.
			</li> </br>
			<li>			
			<span class="faq-bold">Monitor</span> customers activity: for example, monitor transactions for suspicious activity. A transaction may be suspicious if it is significantly larger than you might expect, or is being sent to or from an unusual destination.
			</li> </br>
			<li>			
			<span class="faq-bold">Codify</span> your policies: Write a KYC/CDD policy for your business, including how you deal with the specific actions mentioned above, and the reasons behind decisions regarding KYC/CDD. You should consider recording your firm’s risk tolerances to be able to demonstrate to any supervisory body that your CDD measures are appropriate.
			</li> 
			</ul>
	      </div>
	    </div>
	  </div>	  	  	  

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          Can I delegate task to a third party?
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
			Yes, various compliance tasks can be delegated to a third party. However, as is made clear in section 17 of MLR 2007, ultimately the original organisation remains liable for any failure in the KYC/CDD process. This means that delegating tasks should not be taken lightly.
			For most organisations it will be necessary to outsource tasks to a third party, since most organisations do not keep extensive databases of high risk individuals.
	      </div>
	    </div>
	  </div>	

	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	          What are the consequences of failing to comply?
	      </h4>
	    </div>
	    <div>
	      <div class="panel-body">
			Obviously any business found to have been failing in its compliance duties will suffer reputable damage. However, there can also be civil and criminal penalties. 
			Certain failures to comply, including failure to carry out sufficient CDD, carry with them the threat of a civil penalty (see MLR 2007 section 42). This is typically a fine.
			Under the Proceeds of Crime Act 2002, failure to comply with other regulations, including failing to report suspected money laundering, can result in a criminal conviction, which can lead to a fine, and/or imprisonment for a term up to two years. </br></br>
			Note that a person is not guilty of an offence under these regulations if they “took all reasonable steps and exercised all due diligence to avoid committing the offence.” This is why it is very important to document your organisation activities: so that you can present evidence to the authorities in the event of an enquiry.  </br></br>
			These risks not just hypothetical. There have been several examples of large financial firms being fined large sums for failing to perform their duties with regards to preventing money laundering (in 2012, HSBC was fined $1.9bn by US authorities for such an offense).
	      </div>
	    </div>
	  </div>	

	</div> <!-- /accordion -->
	</div> <!-- /col-md-10 -->

	<div class="col-md-2 faq-anythingelse">
	  <div class="faq-heading">
		<h4 class="faq-title"> Anything Else? </h3>
	  </div>
		<p>If you have any other specific questions then we would love to hear them. Please feel free to <a href="mailto:hello@teamtradesafe.com">contact us</a>.</p>

	</div>

	</div> <!-- /row -->
</div> <!-- /container --> 