<div id="headerwrap">
    <div class="container">
   
		<div class="row" id="primary">
			<div class="col-lg-6 primary-left">

				<div class="row centered">
					<div class="col-lg-12">
						<h1><b>TradeSafe</b></h1>
					</div>
				</div><!-- /row centered -->

				<div class="row centered">	
					<div class="col-lg-12">
						<h1>Know Your Customer.</h1>
					</div>
				</div><!-- /row centered -->

				<div class="row centered register-div">	
					<div class="col-lg-8 col-lg-offset-2">
						<a href="/understandingkyc" type="submit" name="subscribe" id="button-learnmore" class="button">Learn more</a>					
						<a href="/user/new" type="submit" name="subscribe" id="button-signup" class="button">Sign up now</a>
					</div>

				</div><!-- /row centered -->

				<div class="row centered ts-explanation">
					<div class="col-lg-12">
						<h3>TradeSafe provides a simple API to check names against publically available data sets, including US and UK watchlists and lists of Politically Exposed Persons.</h3>
					</div>
				</div>

			</div><!--/col-lg-6 -->


			<!-- ********************************** CODE *********************************** -->


			<div class="col-lg-6 code-example primary-right">
				<div class="inner-code-example">

					<h3>Request</h3>
					<pre class="code-request"><code class="hljs bash code-snippet" onclick="select_all(this)">
$ curl https://api.teamtradesafe.com/v1/targets -d last_name=BAHAR -d list_type=Watchlist</code></pre>

					<h3>Response</h3>
					<pre class="code-response"><code class="hljs json code-snippet">
{
	"object": "Individual",
	"first_name": "Ahmad",
	"last_name": "BAHAR",
	"full_name": "Ahmad BAHAR",
	"uri":"http://www.treasury.gov/resource-center/sanctions/SDN-List/Pages/consolidated.aspx",
	"data_source": "US Sanctions List",
	"list_type": "Watchlist",
	"aka_list": {
	  "aka1": {
	    "uid": "9218",
	    "type": "a.k.a.",
	    "category": "strong",
	    "first_name": "Ahmed Mohamed",	    
	    "last_name": "BAHAR"
	  }
	},
	"id": "548c55a7026e5b01f72b6645"
}

</code></pre>	

				</div><!-- /code-example -->

			</div><!--/col-lg-6 -->
		</div><!-- /row centered -->

			<!-- ********************************** /CODE *********************************** -->

    </div><!-- /container -->
</div><!-- /headerwrap -->

