<!DOCTYPE html>
<html>
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                   TradeSafe

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
  <head prefix="og: http://ogp.me/ns#">
    <title>TradeSafe</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- OpenGraph tags for social media --> 
    <meta property="og:title" content="TradeSafe" />
    <meta property="og:url" content="https://teamtradesafe.com" />
    <meta property="og:site_name" content="TradeSafe"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://teamtradesafe.com/images/tradesafe.jpg" />
    <meta property="og:description" content="Helping you know your customer online." />
    <!-- /OpenGraph -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/font-awesome.css">
    <link rel="stylesheet" href="/styles/highlight.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/sails.css">
    <link rel="stylesheet" href="/styles/tradesafe.css">
    <!--STYLES END-->

    <!-- EXTERNAL STYLES -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'> 
    <!-- EXTERNAL STYLES END -->
  </head>

  <body><!-- scroll spy --> 

    <!-- Fixed navbar -->
    <div class="navbar navbar-default ts-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-top" href="/"><b>TradeSafe</b> </a>     
        </div>
        
        <div class="navbar-collapse collapse"><!-- navbar-main-collapse -->
          <ul class="nav navbar-nav navbar-right">
            <li class="page-scroll"><a href="/search">Search</a></li>   
            <li class="page-scroll"><a href="/understandingkyc">Understanding KYC</a></li> 
            <li class="page-scroll"><a href="/documentation">API Documentation</a></li> 
          </ul>
        
        <a class="nav navbar-nav navbar-brand navbar-left" href="mailto:hello@teamtradesafe.com">hello@teamtradesafe.com</a>

        </div>
        
      </div>
    </div> <!-- /Fixed navbar -->


    <%- body %>

    <nav class="navbar-static-bottom">
      <div class="container">
            <div class="row footer-copyright">
                <div class="col-lg-3">
                    © 2015 <b>TradeSafe</b> 
                </div>
                <div class="col-lg-6">            
                    Registered in England and Wales (number 09219534).</br>
                    TradeSafe is registered with the UK's Information Commissioner's Office.
                </div>                
                <div class="col-lg-3 link-privacy-policy">
                    <a href="/privacypolicy">Privacy Policy</a>
                </div>
            </div>
      </div>
    </nav>


    <!-- EXTERNAL SCRIPTS -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>    
    <!-- EXTERNAL SCRIPTS END -->


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom_validate.js"></script>
    <script src="/js/grayscale.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/tradesafe.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
