<div class="container">
   <div class="row">
      <div class="col-md-12 privacy-policy">
         <h1>Privacy Policy</h1>

         <p>Effective: 16th December 2014</p>
         <p>Last Updated: 16th December 2014</p>

         <p>TradeSafe has created the following Privacy Policy to let you know what personal information we collect, when we collect it, why we collect it and how it is used. Your privacy is very important to us. We have put in place measures to ensure that any personal information or data that we obtain from you is processed in accordance with the accepted principles of good information handling.</p>

         <p>We may update this policy from time to time. Please check this page regularly for notifications of any significant changes in the way we treat your personal information. We will try to provide customers with reasonable advance notice of any proposed changes.</p>

         <p>Where the words ''TradeSafe'', ''we'', ''us'' or ''our'' are used in this document, they are all references to Douglas and Greig Limited. Where the words ''you'', ''your'', or ''yours'' are used in this document, they are all references to website visitors and customers.</p>

         <h3>What does this privacy policy cover?</h3>
         <p>This policy gives you information about how we treat personal information and data requests received from our customers.</p>

         <h3>What is personal information?</h3>
         <p>Personal information is defined as information that may be used to identify a living individual, such as their title, name, address, email address and phone number.</p>

         <h3>How is information collected?</h3>
<p>         We collect personal information in the following ways:

         <ul>
            <li>when you visit the our website or use our services, we collect information sent to us by your computer, mobile phone, or other access device. This information may include your IP address, device information including, but not limited to, identifier, name and type, operating system, location, mobile network information and standard web log information, such as your browser type, traffic to and from our site and the pages you accessed on our website.</li>
            <li>when you visit our website, we may also use "cookies" to provide you with access to certain private areas of the website. See the "Cookies" section below for further information.</li>

         </ul></p>


         <h3>How is information used?</h3>
         <p>Our primary purpose in collecting personal information is to provide you with a secure, smooth, efficient, and customized experience. We may use your personal information:

         <ul>      
               <li>if you call us or send us an enquiry or details via email or another method, we will use your details to respond to any request/comment you have.
               </li>
               <li>to prevent potentially prohibited or illegal activity.</li>      
               <li>to customize, measure, and improve TradeSafe’s services and the content and layout of our website and applications.</li>
               <li>to provide you with targeted marketing from time to time about our services. However we will only do this if either (i) you have given us permission to do so, or (ii) you are one of our customers and we are telling you about similar products and services to the ones you have previously purchased or asked us about. In each case you can contact us to opt out of any further marketing communications.</li>
         </ul></p>

         <h3>How is information stored and protected?</h3>
         <p>We store, control and process your personal information on our computers in the UK. We protect it by maintaining physical, electronic and procedural safeguards in compliance with applicable UK data protection laws. We use computer safeguards such as firewalls and data encryption, we enforce physical access controls to our buildings and files, and we authorize access to personal information only for those employees who require it to fulfil their job responsibilities.</p>

         <h3>How is my API request data used?</h3>
         <p>When you make a data request using our API, we only search our internal database, and do not make any external requests. Communication with our API is made over HTTPS, a secure communication protocol, meaning third parties cannot see what information is being exchanged.</p>


         <h3>Cookies</h3>
         <p>Our web site may use cookies – small text files stored on your computer - to collect system-related information, such as the type of internet browser and operating system you use, the website from which you have come to our website, the duration of individual page views, paths taken by visitors through the website, and other general information and your IP address (the unique address which identifies your computer on the internet) which is automatically recognised by our web server. This information is collected for system administration and to report aggregate information to our subcontractors and partners to enable them to provide services to us. It is statistical data about our users' browsing actions and does not, of itself, contain any personally identifiable information. It is often not possible to identify a specific individual from this information, although for example we may be able to identify it relates to a specific individual in conjunction with other information in our control.</p>


         <h3>Data protection laws</h3>
            <p>TradeSafe complies with the data protection laws of the United Kingdom, including the Data Protection Act. Your personal information is held with the strictest security protocols and policies.</p>
            <p>We are also registered as a Data Controller with the Information Commissioner's Office. This registration is required primarily because of some of the personal information we hold.</p>
            <p>You have the right to request a copy of the personal information we hold about you, its origin and any recipients of it as well as the purpose of any data processing carried out. Please note that, in accordance with the Data Protection Act 1998, a £10 admin fee is applicable. For further information, please contact us by emailing <a href="mailto:hello@teamtradesafe.com">hello@teamtradesafe.com</a>.</p>
            <p>In accordance with the Data Protection Act 1998, you have the right to correct, restrict our use of or ask us to delete your personal information. Contact us at <a href="mailto:hello@teamtradesafe.com">hello@teamtradesafe.com</a> to ask any questions or request the correction, restriction or deletion of your personal information. If you close your account, we will keep your personal information in our database. Your personal information will not be used by us for any further purposes, nor sold or shared with third parties, except as required by law or in accordance with this Privacy Policy. </p>
      </div>      
   </div>
</div>