<div id="headerwrap" class="dashboard-headwrap">
    <div class="container main-search-container">

    	<div>TEST TEXT</div>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <img alt="Brand" src="/images/tradesafe.jpg">
		      </a>
		    </div>
		  </div>
		</nav>


	</div>
</div>
